Language: Cpp
BasedOnStyle: LLVM

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  PadOperators: true

AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false

AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false

IndentWidth: 3
TabWidth: 3
UseTab: ForIndentation
ColumnLimit: 100
PointerAlignment: Right
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: true
