Language: Cpp
BasedOnStyle: LLVM

AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: AcrossEmptyLines
AlignConsecutiveMacros: Consecutive

IndentWidth: 3
TabWidth: 3
UseTab: ForIndentation
ColumnLimit: 100
PointerAlignment: Right
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: true
